<footer class="footer">
        <div class="container">
            <p class="pull-left">© Read Book online 2017</p>
            
        </div>
    </footer>

    <script src="/public/js/pinit.js" async="async" defer="defer"></script>
    <script src="/public/js/76f1a9e1064a0053d32eccf89caa1dfa.js"></script>
    <script src="/public/js/70b3cd4ad889a64a36cc1e7c4da3ada3.js"></script>
    
    <script type="text/javascript">
        var gplusinitfunction = function() {
            var po = document.createElement('script');
            po.type = 'text/javascript';
            po.async = true;
            po.src = 'https://apis.google.com/js/platform.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        };
        gplusinitfunction();
    </script>
</body>

</html>