<%- include ../../../partials/admin/dashboard -%>
<div class="content-wrapper py-3">
  <div class="container-fluid">
    <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-users"></i>
          Nhóm 12.1A
        </div>
        <div class="card-body">
      <ul>
        <li>Nguyễn Thị Tứ</li>
        <li>Trần Thị Mai Hoa</li>
        <li>Võ Văn Trung</li>
        <li>Trần Văn Lộc</li>
        <li>A Lăng Kiền</li>
      </ul>
        </div>

      </div>
    </div>
  </div>
  <%- include ../../../partials/admin/footer -%>
